
/* Navigation Header*/

 .navbar-fixed-top  {
    background-color: ghostwhite;
}

.navbar-brand {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif !important;
    margin-top: 5px;
    font-size:20px !important;
    color:#00A89C;
}

.navbar-brand:hover {
    text-decoration: none;
    background-color: #eee;}
    
.navbar-nav > li > a {
    font-family: 'Raleway', sans-serif !important;
    color:#00A89C;
}

.navbar-items {
    margin: 5px 15px;
    margin-right: 40px;
    color:#00A89C;
}

.navbar-toggle {
    color:#00A89C;
}

.body-main {
    margin-top: 50px;
    text-align: center;
}

.book{
    background-color:#2b3d4f !important;
    padding-left: 30px;
    padding-right: 30px;
}

 .panel-search {
     margin: 0 auto;
     max-width: 1100px;  /* 900px */
     text-align: center;
 }

.book-text {
    text-align: center;
    color: #2b3d4f;
 }

 .input-search {
     padding: 5px;
 }

.md-datepicker-input-container {
    margin-left: 10px;
    width: 200px;
}

.md-datepicker-calendar-icon {
    margin-left: 6px;
    margin-top: 5px;
}

.startTime {
    margin-left: 8px;
    width: 200px !important;
}

.startTime-label {
    margin-left: 5px;
    font-weight: normal;
}

.glyphicon-time {
    font-size: 20px;
}
    
.patientForm {
    margin-top: 50px;
}

.img-circle {
    text-align: center;
}



