
.container{
    -webkit-box-shadow: 0 1px 1px #BDBDBD;
    -moz-box-shadow: 0 1px 1px #BDBDBD;
     box-shadow: 0 1px 1px #BDBDBD;
     height:auto;
     padding-bottom: 500px !important;
}  

/* Navigation Header*/

 .navbar-fixed-top  {
    background-color: ghostwhite;
}

.navbar-brand {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif !important;
    margin-top: 5px;
    font-size:20px !important;
    color:#00A89C;
}

.navbar-brand:hover {
    text-decoration: none;
    background-color: #eee;}
    
.navbar-nav > li > a {
    font-family: 'Raleway', sans-serif !important;
    color:#00A89C;
}

.navbar-items {
    margin: 5px 15px;
    margin-right: 40px;
    color:#00A89C;
}

.navbar-toggle {
    color:#00A89C;
}

/*Main Landing Page*/

.body-main {
    margin-top: 30px;
    text-align: center;
}

.book{
    background-color:#2b3d4f !important;
    padding-left: 30px;
    padding-right: 30px;
}

 .panel-search {
     margin: 0 auto;
     text-align: center;
 }

.book-text {
    margin: 0 auto;
    text-align: center;
    color: #2b3d4f;
 }

 .input-search {
     padding: 5px;
 }

 /*Booking Page*/

.md-datepicker-input-container {
    margin-top: 15px;
    width: 200px;
}

.md-datepicker-calendar-icon {
    margin-top: 5px;
}

.startTime {
    width: 200px !important;
    margin-left: 27px;
}

.startTime-label {
    margin-left: 27px;
    font-weight: normal;
}

.glyphicon-time {
    font-size: 20px;
    margin-left: 15px;
}
    
.patientForm {
    margin-top: 10px;
}

.img-circle {
    text-align: center;
}

.fill-more {
    margin-left: 5px;
    margin-bottom: 30px !important;
    color: #2b3d4f;
 }

.title-text {
    text-align: center;
    color: #2b3d4f;
    background:#00A89C;
    margin-top:10px
 }

.patientMessage {
    margin-left: 55px;
}

.complaint {
    margin-top: 30px;
    margin-left: 10px;
    width: 90% !important;
}


